body {
    font-family: 'Roboto Mono', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sideboard {
    background-color: #1992d4;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.header_part1 {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.header_part2 {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.announce_trends{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.generals, 
.actions {
    display: flex;
    flex-direction: column;
}

.logo,
.general,
.action {
    display: flex;
    height: 100px;
    align-items: center;
    flex: 0 1 auto;
}

.logo > svg,
.general > svg,
.action > svg {
    flex: 1;
}

.logo > h1,
.general > p, 
.action > p {
    flex: 2;
}

svg {
    height: 100%;
    width: 100%;
}

path {
    fill: white;
}