body {
    font-family: 'Roboto Mono', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sideboard {
    background-color: rgb(81, 194, 232);
}

.logo,
.actions>div,
.generals>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

svg {
    height: 125px;
}

path {
    fill: white;
}